datasets/
.idea/
__pycache__/
docs/_build
own_tests/
own_notebooks/
*.egg-info
build/
dist/
.ipynb_checkpoints
.vscode/
notebooks/pbmc.h5ad
notebooks/ref_model/
notebooks/surgery_model/

jupyter.sh
slurm*
tmp
model/
atlas